In [3]:
import numpy as np
import pandas as pd

In [5]:
cd

C:\Users\divot

In [6]:
pwd

'C:\\Users\\divot'

In [16]:
df = pd.read_excel('2015rev.xlsx')

In [17]:
df

        Tanggal  Jam      Lokasi    PM10   RH   TEMP
0    2015-01-01    0  PALEMBANG    28.91  100  23.63
1    2015-01-01    1  PALEMBANG    52.00  100  23.62
2    2015-01-01    2  PALEMBANG    64.97  100  23.42
3    2015-01-01    3  PALEMBANG    32.78  100  22.97
4    2015-01-01    4  PALEMBANG    12.44  100  22.72
5    2015-01-01    5  PALEMBANG     1.35  100  22.58
6    2015-01-01    6  PALEMBANG     0.88  100  23.03
7    2015-01-01    7  PALEMBANG    11.84  100  23.88
8    2015-01-01    8  PALEMBANG    53.09   95  26.02
9    2015-01-01    9  PALEMBANG   131.46   77  28.86
10   2015-01-01   10  PALEMBANG   214.94   72  30.02
11   2015-01-01   11  PALEMBANG   207.78   72  29.89
12   2015-01-01   12  PALEMBANG   147.68   68  31.00
13   2015-01-01   13  PALEMBANG   105.62   70  30.52
14   2015-01-01   14  PALEMBANG    57.13   71  30.37
15   2015-01-01   15  PALEMBANG    35.00   72  29.89
16   2015-01-01   16  PALEMBANG    17.70   82  28.49
17   2015-01-02    3  PALEMBANG     1.28  100  23.19
18   2015-01-02    5  PALEMBANG    18.10  100  23.09
19   2015-01-02    6  PALEMBANG    25.29  100  23.37
20   2015-01-02    7  PALEMBANG    48.21  100  25.50
21   2015-01-02    8  PALEMBANG   112.43   90  27.15
22   2015-01-02    9  PALEMBANG   179.98   80  28.93
23   2015-01-02   10  PALEMBANG   205.01   74  29.75
24   2015-01-02   11  PALEMBANG   169.43   72  29.86
25   2015-01-02   12  PALEMBANG   123.82   66  31.29
26   2015-01-02   13  PALEMBANG   116.43   60  32.54
27   2015-01-02   14  PALEMBANG   135.12   63  32.08
28   2015-01-02   15  PALEMBANG   107.15   65  31.50
29   2015-01-02   16  PALEMBANG    46.58   80  28.27
...         ...  ...         ...     ...  ...    ...
6015 2015-12-30   12  PALEMBANG    55.28   92  28.52
6016 2015-12-30   13  PALEMBANG    25.72   79  30.49
6017 2015-12-30   14  PALEMBANG    33.35   73  31.29
6018 2015-12-30   15  PALEMBANG    42.81   81  29.74
6019 2015-12-30   16  PALEMBANG    35.18   97  28.15
6020 2015-12-30   17  PALEMBANG    10.57  100  26.69
6021 2015-12-30   22  PALEMBANG     5.90  100  23.71
6022 2015-12-30   23  PALEMBANG    16.43  100  23.77
6023 2015-12-31    0  PALEMBANG    21.93  100  23.82
6024 2015-12-31    1  PALEMBANG    21.42  100  23.66
6025 2015-12-31    2  PALEMBANG    10.52  100  23.41
6026 2015-12-31    3  PALEMBANG     4.83  100  23.32
6027 2015-12-31    4  PALEMBANG     3.67  100  23.51
6028 2015-12-31    5  PALEMBANG    14.18  100  23.46
6029 2015-12-31    6  PALEMBANG    15.60  100  23.53
6030 2015-12-31    7  PALEMBANG    20.66  100  25.88
6031 2015-12-31    8  PALEMBANG    66.93   86  27.52
6032 2015-12-31    9  PALEMBANG    97.12   89  28.05
6033 2015-12-31   10  PALEMBANG    91.97   79  29.87
6034 2015-12-31   11  PALEMBANG    80.07   75  30.71
6035 2015-12-31   12  PALEMBANG    59.65   74  30.74
6036 2015-12-31   13  PALEMBANG    38.11   74  31.97
6037 2015-12-31   14  PALEMBANG    34.91   80  29.07
6038 2015-12-31   15  PALEMBANG    26.74   84  28.25
6039 2015-12-31   16  PALEMBANG     1.09   78  29.78
6040 2015-12-31   17  PALEMBANG     3.35   96  27.53
6041 2015-12-31   18  PALEMBANG     6.88  100  25.29
6042 2015-12-31   21  PALEMBANG    13.47  100  24.22
6043 2015-12-31   22  PALEMBANG    44.56  100  24.35
6044 2015-12-31   23  PALEMBANG    57.85  100  24.27

[6045 rows x 6 columns]

In [20]:
x=df.PM10

In [21]:
x

0        28.91
1        52.00
2        64.97
3        32.78
4        12.44
5         1.35
6         0.88
7        11.84
8        53.09
9       131.46
10      214.94
11      207.78
12      147.68
13      105.62
14       57.13
15       35.00
16       17.70
17        1.28
18       18.10
19       25.29
20       48.21
21      112.43
22      179.98
23      205.01
24      169.43
25      123.82
26      116.43
27      135.12
28      107.15
29       46.58
         ...
6015     55.28
6016     25.72
6017     33.35
6018     42.81
6019     35.18
6020     10.57
6021      5.90
6022     16.43
6023     21.93
6024     21.42
6025     10.52
6026      4.83
6027      3.67
6028     14.18
6029     15.60
6030     20.66
6031     66.93
6032     97.12
6033     91.97
6034     80.07
6035     59.65
6036     38.11
6037     34.91
6038     26.74
6039      1.09
6040      3.35
6041      6.88
6042     13.47
6043     44.56
6044     57.85
Name: PM10, Length: 6045, dtype: float64

MEAN

In [22]:
np.mean(x)

128.28925062034747

In [27]:
xWithNan = np.hstack( (x, np.nan) ) # append nan

In [28]:
np.mean(xWithNan)

nan

In [30]:
np.nanmean(xWithNan)

128.2892506203474

MEDIAN

In [31]:
np.median(x)

82.97

MODE

In [32]:
from scipy import stats

In [33]:
stats.mode(x)

ModeResult(mode=array([0.]), count=array([16]))

GEOMETRIC MEAN

In [35]:
A = np.arange(1,101)

In [36]:
stats.gmean(A)

37.992689344834304

Quantifying Variability

In [37]:
range = np.ptp(x)

In [39]:
data = np.arange(7,14)

In [40]:
np.std(data, ddof=0)

2.0

In [41]:
np.std(data, ddof=1)

2.160246899469287